.nobr {
    white-space: nowrap;
}

.color-transparent {
    color: transparent;
}

.options-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.options-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}

.options-tab .nav-link:hover {
    border-color: transparent;
}

.options-tab a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
